@media (max-width:3840px) {
  .header {
    max-width: 3840px;
  }

  .container {
    max-width: 3740px;
  }
}

@media (max-width: 1366px) {
  .header__logo {
    width: 150px;
    padding: 12px 0;
  }

  .container {
    max-width: 1366px;
    padding: 0 50px;
  }

  .nav__item:not(:last-child) {
    margin-right: 57px;
  }

  .header__search {
    padding-left: 105px;
  }

  .calculation__blog {
    margin: 40px 50px;
    padding: 0;
    height: 668px;
  }

  .calculation__h1 {
    padding-top: 160px;
    margin-bottom: 16px;
    font-size: 60px;
  }

  .calculation__blog > button {
    margin: 60px 77px 0;
  }

  .calculation__p {
    max-width: 670px;
    font-size: 20px;
  }

  .about-list {
    --offsets: 0;
    flex-direction: column;
  }

  .about__item-1 {
    height: 640px;
  }

  .about__item-2 {
    height: 295px;
  }
  .about__ellipse,
  .about__ellipse-2 {
    padding-left: 77px;
  }

  .about__package {
    padding-left: 148px;
  }

  .about__frame {
    padding-left: 130px;
  }

  .about__item-text {
    width: 750px;
    padding-bottom: 65px;
  }

  .stages__offset {
    padding-top: 80px;
    padding-bottom: 42px;
  }

  .stages__text {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .stages__offset-bottom {
    margin-bottom: 79px;
  }

  .questions-list {
    --offsets: 0;
  }

  .questions__h3,
  .questions__p {
    max-width: 100%;
  }

  .footer {
    margin-top: 75px;
    height: 594px;
  }

  .footer__left {
    padding: 50px 0;
    margin-right: auto;
  }

  .form {
    max-width: 540px;
  }

  .footer__right {
    display: none;
  }

  .footer__btn {
    padding: 19px 37px;
  }
}

@media (max-width: 992px) {
  .header {
    /* max-width: 868px; */
    height: 69px;
  }

  .header__container {
    height: 69px;
  }

  .container {
    max-width: 992px;
  }

  .header__left {
    padding: 0;
  }

  .header__logo {
    padding: 17px 0;
    width: 110px;
  }

  .header__right {
    padding: 23px 0;
  }

  .nav__link {
    font-size: 16px;
  }

  .nav__item:not(:last-child) {
    margin-right: 40px;
  }

  .header__search {
    padding-left: 43px;
  }

  .calculation__blog {
    margin-bottom: 33px;
  }

  .calculation__h1 {
    margin-left: 40px;
    font-size: 50px;
  }

  .calculation__p {
    max-width: 588px;
    margin-left: 40px;
    font-size: 18px;
  }

  .calculation__blog > button {
    margin: 60px 40px;
  }

  .about__item-text {
    max-width: 576px;
    padding-bottom: 65px;
  }

  .about__item-1 {
    height: 650px;
  }

  .about__item-2 {
    height: 235px;
  }

  .about__frame-p {
    max-width: 366px;
    margin-left: 40px;
    margin-bottom: 34px;
    margin-top: 34px;
  }

  .about__btn {
    margin-right: 40px;
  }

  .about__item-offset {
    padding-left: 170px;
  }

  .about__h3 {
    padding-top: 35px;
  }

  .about__item-text {
    max-width: 620px;
  }

  .about__ellipse,
  .about__ellipse-2 {
    width: 112px;
    padding-left: 40px;
    padding-top: 95px;
  }

  .about__package {
    padding-top: 68px;
    width: 162px;
    padding-left: 83px;
    height: 147px;
  }

  .about__frame {
    padding-left: 70px;
    width: 153px;
    padding-top: 69px;
  }

  .stages__offset {
    padding-top: 80px;
    padding-bottom: 33px;
  }

  .stages__image {
    display: block;
    width: 100%;
    height: 284px;
  }

  .stages-list {
    --offsets: 0;
  }

  .stages__h3 {
    margin-top: 10px;
    margin-bottom: 3px;
  }

  .stages__offset-bottom {
    margin-bottom: 47px;
  }

  .questions__blog {
    padding: 35px 40px;
  }

  .footer {
    height: 100%;
  }

  .footer > div {
    display: flex;
    flex-direction: column-reverse;
  }

  .footer__nav {
    display: none;
  }

  .form {
    margin-left: 0;
  }

  .footer__left {
    padding-top: 57px;
  }

  .footer__social {
    margin-top: 17px;
  }
}
