html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Regular"),
    url("../font/MullerRegular.woff2") format("woff2"),
    url("../font/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Light"),
    url("../font/MullerLight.woff2") format("woff2"),
    url("../font/MullerLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Bold"),
    url("../font/MullerBold.woff2") format("woff2"),
    url("../font/MullerBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 1200px;
  font-family: "Muller", "Roboto", sans-serif;
  font-weight: 400;
  background: #f1f1f1;
}

/* glob */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.h2-title {
  margin: 0;
  padding-left: 40px;
  padding-bottom: 20px;
  font-family: Muller;
  font-size: 40px;
  font-weight: 400;
  line-height: normal;
  color: #333;
}

.section-offset {
  margin-bottom: 70px;
}

.btn {
  border: 1px solid #cc9933;
  border-radius: 10px;
  padding: 13px 20px;
  font-weight: 400;
  line-height: normal;
  color: #cc9933;
}

/* header */
.header-container {
  padding-top: 30px;
  justify-content: space-between;
}

.header-up {
  height: 54px;
  margin-bottom: 30px;
  align-items: center;
  flex-wrap: wrap;
}

.header-logo:not(:last-child) {
  padding-right: 40px;
}

.header-contact {
  margin-right: auto;
  font-family: Muller;
  font-size: 20px;
  font: 500;
  color: #666;
}

.cabinet-link {
  font-family: "Muller";
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #cc9933;
}

.header-down {
  align-items: center;
  padding: 30px 45px;
  height: 70px;
  justify-content: space-between;
  background: #fff;
  border-radius: 15px;
}

.header-left {
  font-family: Muller;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.header-nav {
  margin-right: 45px;
  color: #666;
  align-items: center;
}

.header-list-item:not(:last-child) {
  margin-right: 45px;
}

.header-btn:not(:last-child) {
  margin-right: 40px;
}

/* offers */
.offers {
  margin-top: 70px;
}

.main_section {
  margin: 0;
}


.offers-right {
  justify-content: stretch;
}

.offers-item {
  width: 573px;
  margin-right: 24px;
  margin-bottom: 24px;
  padding-top: 40px;
  padding-left: 45px;
  padding-right: 108px;
  padding-bottom: 40px;
  flex-direction: column;
  /* align-items: stretch; */
}

.offers-item-2 {
  padding-top: 212px;
  padding-left: 45px;
  padding-right: 229px;
  /* align-items: stretch; */
}

.offers-item:last-child {
  margin-bottom: 0;
}

.offers-background-1 {
  background-image: url(../img/offers-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}

.offers-background-2 {
  background-image: url(../img/offers-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}

.offers-background-3 {
  width: 573px;
  background-image: url(../img/offers-3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}

.overflow {
  word-wrap: break-word;
}

.offers-blog-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 15px;
  font-family: Muller;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  color: #fff;
}

.offers-blog-text {
  margin: 0;
  padding-bottom: 47px;
  font-family: Muller;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  color: #fff;
}

.blog-link {
  font-family: Muller;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #f0bf5f;
  align-items: center;
}

/* about-us */
.about-us-text {
  max-width: 888px;
  margin-right: 0;
  font-family: Muller;
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
  color: #000;
}

/* services */
.services-list {
  flex-direction: row;
  flex-wrap: wrap;
}

.services-item {
  margin: 0;
  margin-bottom: 24px;
  width: 573px;
  background-color: #fff;
}

.services-item:not(:nth-child(2n)) {
  margin-right: 24px;
}

.services-img {
  padding-bottom: 26px;
  border-radius: 15px 15px 0 0;
}

.services-link {
  padding-left: 45px;
  font-family: Muller;
  font-size: 20px;
  font-weight: 500;
  line-height: 200%;
  color: #cc9933;
  align-items: center;
}

.services-text {
  width: 402px;
  padding-left: 45px;
  font-family: Muller;
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
  color: #000;
}

/* advantages */
.advantages-list {
  flex-direction: row;
  flex-wrap: wrap;
}

.advantages-item {
  margin: 0;
  margin-bottom: 22px;
  padding-top: 40px;
  width: 276px;
  min-height: 276px;
  background: #fff;
  border-radius: 15px;
}

.advantages-item:not(:nth-child(4n)) {
  margin-right: 22px;
}

.advantages-img {
  width: 111px;
  height: 66px;
  padding-left: 45px;
}

.advantages-text {
  margin: 0;
  padding: 10px 42px 32px 45px;
  font-family: Muller;
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
  color: #000;
}

/* placement */
.placement-list {
  flex-direction: row;
  flex-wrap: wrap;
}

.placement-item {
  margin: 0;
  margin-bottom: 22px;
  width: 374px;
  min-height: 440px;
  background: #fff;
  border-radius: 15px;
}

.placement-item:not(:nth-child(3n)) {
  margin-right: 24px;
}

.placement-img {
  padding-bottom: 32px;
  border-radius: 15px;
}

.placement-img-2 {
  padding-bottom: 0px;
  background-image: url(../img/41.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.placement-price-card {
  padding-bottom: 16px;
  padding-left: 45px;
}

.placement-from {
  padding-right: 4px;
  font-family: Muller;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #999;
}

.placement-price {
  padding-right: 4px;
  font-family: Muller;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  color: #000;
}

.placement-price-night {
  padding-right: 52px;
  font-family: Muller;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #000;
}

.placement-link-card {
  padding: 373px 54px 27px 54px;
  align-items: center;
}

.placement-link {
  padding-right: 8px;
  font-family: Muller;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  color: #fff;
}

.placement-hotel-name {
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: Muller;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #000;
}

.placement-hotel-country {
  padding-bottom: 20px;
  font-family: Muller;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #999;
}

/* tour */

.tour-background {
  min-height: 256px;
  border-radius: 15px;
  background: #E9E9E9;
}

.tour-h2 {
  padding-left: 40px;
  padding-top: 45px;
}

.tour-section {
  margin: 0 45px;
  border-radius: 15px;
  background: #FFF;
}

.tour-offset:not(:last-child) {
  margin-right: 41px;
}

.form {
  padding: 32px;
}

.tour-form {
  align-items: center;
  justify-content: space-between;
}

.tour-select {
  display: block;
  width: 169px;
  padding: 0;
  margin-top: 15px;
  border: none;
  background-color: #fff;
}

.tour-option {
  padding: 0;
  color: #000;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tour-section-item {
  color: #000;
  font-family: Muller;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
}

.tour-city-item {
  width: 169px;
  height: 43px;
}

.tour-date {
  width: 121px;
}

.tour-date-head {
  margin-bottom: 15px;
  color: #000;
  font-family: Muller;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tour-date-item {
  width: 121px;
  padding: 0;
  border: none;
  color: #000;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tour-night {
  width: 121px;
}

.tour-night-head {
  margin-bottom: 15px;
  color: #000;
  font-family: Muller;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tour-night-item {
  width: 121px;
  border: none;
  border-bottom: 1px solid #E9E9E9;
  color: #000;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tour-tourist {
  width: 121px;
}

.tour-tourist-head {
  margin-bottom: 15px;
  color: #000;
  font-family: Muller;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tour-tourist-item {
  width: 121px;
  border: none;
  border-bottom: 1px solid #E9E9E9;
  color: #000;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

.tour-btn {
  width: 106px;
  padding: 13px 30px;
  border-radius: 10px;
  border: 1px solid #C93;
  background-color: #fff;
  color: #C93;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* contact */

.contact-background {
  min-height: 618px;
  border-radius: 15px;
  background: #FFF;
}

.contact-background-image {
  background-image: url("../img/lobby.jpg");
  background-repeat: no-repeat;
  background-position: center right 45px;
  background-size: 653px 528px;
}

.contact-list {
  padding: 45px;
  flex-direction: column;
}

.contact-left {
  margin-left: 45px;
  padding-top: 45px;
  width: 375px;
}

.contact-left-item {
  width: 375px;
  margin-bottom: 23px;
  min-height: 72px;
  border-bottom: 1px solid #E9E9E9;
}

.contact-item {
  width: 375px;
  border-bottom: 1px solid #E9E9E9;
}

.contact-item-left {
  width: 145px;
}

.contact-item-right {
  width: 231px;
  margin-bottom: 23px;
}

.contacnt-item-fight-up-offset {
  margin-top: 25px;
}

.contact-flex {
  flex-direction: column;
}

.contact-info-offset {
  position: absolute;
  margin-left: 145px;
  max-width: 230px;
}

.contact-h3 {
  height: 23px;
  color: #000;
  font-family: Muller;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.contacts-item-link {
  display: block;
  color: #C93;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.contact-mail-text {
  color: #999;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.contact-info-text {
  color: #000;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.contact-btn {
  margin-top: 45px;
  width: 216px;
  height: 72px;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #C93;
  background-color: #fff;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* footer */

.footer-block {
  min-height: 341px;
  border-radius: 15px;
  background: #333;
}

.footer-left {
  margin-left: 45px;
  margin-top: 45px;
  width: 302px;
  flex-direction: column;
}

.footer-center {
  margin-left: 125px;
  margin-top: 45px;
  width: 359px;
}

.footer-social {
  margin-left: 269px;
  margin-top: 45px;
  flex-direction: column;
}

.footer-left-offset:not(:last-child) {
  margin-bottom: 38px;
}

.footer-left-text {
  color: #FFF;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 190%;
}

.footer-left-link {
  color: #C93;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.footer-center-offset:not(:last-child) {
  margin-bottom: 15px;
}

.footer-tel {
  width: 143px;
}

.footer-email {
  width: 130px;
}

.footer-center-text {
  color: #FFF;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.footer-link {
  color: #C93;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.footer-social-logo {
  width: 25px;
  height: 25px;
}

.footer-social-logo:not(:last-child) {
  margin-bottom: 20px;
}

.footer-background-image {
  background-image: url("/img/footer-logo.png");
  background-repeat: no-repeat;
  background-position: bottom 1px right 177px;
}
